<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/style.css" />
	<script>
		function share(text) {
			window.location = 'https://api.awe.sm/url/share?v=3'
			+ '&url=' + encodeURIComponent('http://panelpicker.sxsw.com/vote/4740')
			+ '&key=e3a202c0151fabe207a3cc99ccf3b6bd8a2a1d2eefb5bd72899986acda1080e6'
			+ '&campaign=sxswi-2013'
			+ '&tool=AehFJd'
			+ '&channel=twitter'
			+ '&notes=' + encodeURIComponent(text)
			+ '&destination=' + encodeURIComponent('https://twitter.com/intent/tweet?text=' + encodeURIComponent(text) + 'AWESM_URL');
		}
	</script>
</head>
<body>
	<div class="container">
		<h1>Thanks for your willingness to help me get on stage at <a href="http://sxsw.com/interactive">SXSWi</a></h1>
		<p>SXSW uses audience voting to advise the curation of its schedule. While the SXSW Advisory Board and Staff ultimately decide, strong support from the community significantly helps first-time speakers get on stage.</p>
		<p><strong>This is where I need you.</strong> Please share <a href="http://panelpicker.sxsw.com/vote/4740">my proposal</a> on Twitter and Facebook if you feel it is relevant to your followers. I need as many votes as possible.</p>
		<p>My talk is called &ldquo;The UX of APIs&rdquo;. Many products are now trying to be platforms. Think of the Twitter, Facebook, and the iPhone with their app economies. My talk is about how user experience principles can be applied to platforms and how happy developers lead to even happier end users.</p>
		<p>Over the last two years, I've helped <a href="http://totally.awe.sm/">Awe.sm</a> apply user experience principles to APIs. I even wrote the <a href="http://uxmag.com/articles/effective-developer-experience" title="Effective Developer Experience (DX)">first article</a> on it for UX Magazine. Every time that I've spoken about the subject to developers and platform companies, people get excited about it. I want to take this to a bigger stage and I need votes to do so.</p>
		
		<h2>Suggested Tweets</h2>
		<p>Use the "tweet" button beside the tweet you like. You will be able to modify it before posting.</p>
		<p>If you just want a link to share, click <a href="#" onclick="share('')">here</a>.</p>
		<hr />
		<div class="row">
			<div class="span10">
				<em id="message-1">Happy developers lead to even happier end users. Vote for @JeremiahLee&rsquo;s &ldquo;The UX of APIs&rdquo; #SXSW 2013 session: </em>
			</div>
			<div class="span2">
				<div class="btn" onclick="share(document.getElementById('message-1').innerHTML)">Tweet</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="span10">
				<em id="message-2">Developers deserve #UX love. @JeremiahLee wants to show you how to design a great API at #SXSW 2013. Please vote: </em>
			</div>
			<div class="span2">
				<div class="btn" onclick="share(document.getElementById('message-2').innerHTML)">Tweet</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="span10">
				<em id="message-3">API is the new BD. Vote for &ldquo;The UX of APIs&rdquo; session to learn from @JeremiahLee of @Awesm at #SXSW 2013. </em>
			</div>
			<div class="span2">
				<div class="btn" onclick="share(document.getElementById('message-3').innerHTML)">Tweet</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="span10">
				<em id="message-4">You can&rsquo;t spell capitalism without API. Vote for @JeremiahLee&rsquo;s #SXSW 2013 session on &ldquo;The UX of APIs&rdquo; </em>
			</div>
			<div class="span2">
				<div class="btn" onclick="share(document.getElementById('message-4').innerHTML)">Tweet</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="span10">
				<em id="message-5">APIs should be versioned bc yours probably sucks. Vote to learn how to make it better in @JeremiahLee&rsquo;s #SXSW session. </em>
			</div>
			<div class="span2">
				<div class="btn" onclick="share(document.getElementById('message-5').innerHTML)">Tweet</div>
			</div>
		</div>
	</div>
</body>
</html>