<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container">
	
	<div class="row">
		<div class="span6">
			<h1>Compose Tweet</h1>
			<form class="well" method="post" action="/twitter-share">
				<input type="hidden" name="awesm_id" value="<%= awesm_id %>" />
				<textarea class="span5" name="text" rows="3">An API is a developer's UI. Make it beautiful. Vote for "The UX of APIs" to learn from @JeremiahLee &amp; @Awesm at #SXSW. <%= awesm_url %></textarea>
				<div><button class="btn btn-primary" type="submit">Tweet</button></div>
			</form>
		</div>
		<div class="span6">	
			<h2>Suggestions:</h2>
			<ul>
				<li><p>Developers are users too! Vote for "The UX of APIs" session to learn from @JeremiahLee &amp; @Awesm at #SXSW 2013. <%= awesm_url %></p></li>
				<li><p>API is the new BD. Vote for "The UX of APIs" session to learn from @JeremiahLee &amp; @Awesm at #SXSW 2013. <%= awesm_url %></p></li>
				<li><p>You can't spell capitalism without API. Vote for "The UX of APIs" to learn from @JeremiahLee &amp; @Awesm at #SXSW 2013. <%= awesm_url %></p></li>
				<li><p>APIs should be versioned because yours probably sucks. Learn to make it better in @JeremiahLee's #SXSW session. <%= awesm_url %></p></li>
			</ul>
		</div>
	</div>
</div>
</body>
</html>